<div class="vertical">
  <mat-form-field>
    <input matInput placeholder="Label" [(ngModel)]="questionSchema.label" [required]="true">
  </mat-form-field>
  <mat-checkbox [(ngModel)]="questionSchema.required">Required</mat-checkbox>
</div>
