<mat-form-field>
  <textarea matInput [(ngModel)]="value"
         (input)="onChange()"
         [placeholder]="questionSchema.label"
         [required]="questionSchema.required">
  </textarea>
</mat-form-field>
