<mat-form-field>
    <mat-select placeholder="Ankieta" (selectionChange)="selectSurvey($event.value)">
        <mat-option *ngFor="let survey of surveys" [value]="survey.id">
            {{survey.name}}
        </mat-option>
    </mat-select>
</mat-form-field>
<div *ngIf="answers">
    <survey-answer *ngFor="let answer of answers"
                   [answer]="answer">
    </survey-answer>
</div>