/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
body {
  background-color: black;
  color: white;
}
.vertical {
  display: flex;
  flex-direction: column;
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.sidebar {
  flex-shrink: 2;
}

.main {
  min-width: 70%;
}
